@import '~antd/dist/antd.css';

.main {
  margin: 20px;
}

.table {
  margin-top: 20px;
}

.search-icon {
  cursor: pointer;
}

.filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filter__unit {
  margin: 10px;
  flex: 1 1 auto;
}

.pagination__input {
  margin-left: 5px;
}

.pagination-filter {
  float: right
}

.ant-table-tbody > tr > td {
  padding: 0 8px;
}